<ion-header>
  <ion-toolbar [color]="'primary'">
    <ion-title>{{"MODIFY_ROUTINE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header text-center text-wrap [color]="'tertiary'">
      {{"ROUTINES" | translate}}
    </ion-card-header>

    <ion-list [inset]="true">
      <ion-item button *ngFor="let routine of routines$ | async" (click)="viewDetails(routine.id)">
        <ion-button [fill]="'clear'" [slot]="'start'">
          <ion-icon [name]="'trash'" [slot]="'icon-only'" [size]="'large'" [color]="'danger'" (click)="confirmDeleteRoutine($event, routine.id)"></ion-icon>
        </ion-button>

        <span text-wrap>{{routine.title}}</span>

        <ion-button [fill]="'clear'" [slot]="'end'">
          <ion-icon [name]="'create'" [slot]="'icon-only'" [size]="'large'" (click)="editRoutine($event, routine.id)"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item *ngIf="!routines$" text-center align-items-center>
        <ion-spinner [name]="'bubbles'"></ion-spinner>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
