<ion-header>
  <ion-toolbar [color]="'primary'">
    <ion-title>{{"MODIFY_ROUTINE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header text-center text-wrap [color]="'tertiary'">
      {{"ROUTINES" | translate}}
    </ion-card-header>

    <ion-list [inset]="true">
      <ion-button (click)="viewDetails(routine)" *ngFor="let routine of routines$ | async">
        <ion-icon [name]="'remove-circle'" [slot]="'start'" [size]="'large'" [color]="'danger'" (click)="confirmDeleteRoutine($event, routine.id)"></ion-icon>
        <span text-wrap>{{routine.title}}</span>
        <ion-icon [name]="'create'" [slot]="'end'" [size]="'large'" (click)="editRoutine($event, routine.id)"></ion-icon>
      </ion-button>

      <ion-item *ngIf="!routines$" text-center align-items-center>
        <ion-spinner [name]="'bubbles'"></ion-spinner>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
